.bglogin{
  background-color: #424242;
}

.loginbox{
  margin: 10% auto;
  background-color: #e9e9e9;
  width: 35%;
  height: 350px;
 /*border: 1px solid black;*/
}

.logintitle {
  font-size: 48px;
  font-family: "Arial";
  color: rgb(66, 66, 66);
  text-align: center;
  position: relative;
  top: 10%;
  /*border: 1px solid black;*/

}

.formlogin{
    /*border: 1px solid black;*/
    width: 80%;
    margin: 15% 0 0 10%;
    font-size: 14px;
    font-family: "Arial";
    color: rgb(66, 66, 66);

}

.inputlogin{
  width: 99%;
  background-color: #bcbcbc;
  border: 0.1px solid black;
  height: 25px;
  margin: 0 0 2% 0; 

}

.cadastrobox{
  margin: 10% auto;
  background-color: #e9e9e9;
  width: 35%;
  height: 450px;
  /*border: 1px solid black;*/
}

.formSearch{
    /*border: 1px solid black;*/
    width: 80%;
    margin: 10% 0 0 10%;
    font-size: 14px;
    font-family: "Arial";
    color: rgb(66, 66, 66);

}

.centerImage
{
  margin: 0 0 5% 10%; 
  text-align:center;
  display:block;
}

.buttonSearch {
    background-color: #009ABE;
    border: none;
    color: white;
    padding: 20px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.btnlogin1 {
    background-color: #ff9900;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 45%;
    font-size: 15px;
    margin: 0 10% 0 0;
    float: left;
}

.btnlogin2 {
    background-color: #3299bb;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 45%;
    font-size: 15px;
    float: left;
}

.btncadastro {
    background-color: #3299bb;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 125%;
    position: relative;
    right:66px;
    font-size: 15px;
    margin: 4% 0 0 0;
}

button:hover {
    opacity: 0.8;
}

.limpa{
  clear: both;
}
